<template>
    <a-modal 
    v-model:visible="pvisible" 
    centered 
    :mask="false" 
    :maskClosable="false" 
    :closable="false"
    @cancel="close"
    title="今日进度" 
    :footer="null">
        <a-row>
            <a-col :span="3" :offset="2">
                <a-progress type="circle" :percent="percent" :width='100'>
                    <template #format="percent">
                        <span style="color: red;font-size:12px">完成度</span><br>{{ percent }}%
                    </template>
                </a-progress>
            </a-col>
            <a-col :span="12" :offset="5">
                <a-form :model="formData">
                    <a-form-item label="进度：">
                        <a-input-number
                        v-model:value="formData.percent"
                        :min="0"
                        :max="100"
                        :step="5"
                        :formatter="value => `${value}%`"
                        :parser="value => value.replace('%', '')"
                        />
                    </a-form-item>
                    <a-form-item label="备注">
                        <a-textarea v-model:value="formData.desc" />
                    </a-form-item>
                    <a-form-item>
                        <a-button type="primary" @click.prevent="onSubmit">更新</a-button>
                        <a-button type="default" @click.prevent="close">关闭</a-button>
                    </a-form-item>
                </a-form>
            </a-col>
        </a-row>
    </a-modal>
</template>

<script setup>
    import { ref ,reactive, toRefs} from 'vue';
    import { Form } from 'ant-design-vue';
    const useForm = Form.useForm;

    const formData = reactive({
        percent:0,
        desc:''
    });
    const formDataCheckRules = reactive({
        percent: [
            {
            required: true,
            message: 'Please input percent',
            },
        ],
        desc: [
            {
            required: true,
            message: 'Please select desc',
            },
        ],
    });
    const { resetFields, validate, validateInfos } = useForm(formData, formDataCheckRules);
    const onSubmit = () => {
        validate()
        .then(() => {
            console.log(formData);
            }
        ).catch(err => {
            console.log('error', err);
        });
    }
    // 接受属性
    const props = defineProps({
        pvisible:Boolean,
        percent:{
            type: Number,
            default: 0,
            validator: value => {
                return value >= 0
            }
        },
    })
    // 解构 props,不然的话，就需要通过props.pvisible来访问
    let {pvisible,percent} = toRefs(props);

    // 接受事件
    const emit = defineEmits(['close'])

    const close = () => {
        console.log('close');
        emit('close',false);
    }
</script>