<template>
  <router-view></router-view>
</template>
<script>
// import Avatar from './components/Avatar.vue';
// import {
//   UserOutlined,
//   VideoCameraOutlined,
//   UploadOutlined,
//   MenuUnfoldOutlined,
//   MenuFoldOutlined,
// } from '@ant-design/icons-vue';
// import { defineComponent, ref,reactive,onMounted, toRefs } from 'vue';
// import {getMenuList} from './api/menu';

// export default defineComponent({
//   components: {
//     UserOutlined,
//     VideoCameraOutlined,
//     UploadOutlined,
//     MenuUnfoldOutlined,
//     MenuFoldOutlined,
//     Avatar,
//   },
//   setup() {

//     const state = reactive({
//       menuList:[]
//     })

//     onMounted(async () => {
//       console.log("---app挂载完成----");
//       state.menuList = await getMenuList();

//     })

//     return {
//       selectedKeys: ref(['/project']),
//       collapsed: ref(false),
//       // 解构第一层全部数据，并变成响应式，指向源数据，单个属性toRef(state,'name')
//       ...toRefs(state)
//     };
//   },
// });
</script>