<template>
  <a-dropdown :trigger="['click']">
    <a-avatar size="32" style="cursor: pointer;" src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" />
    <template #overlay>
      <a-menu>
        <a-menu-item key="0">
          <a href="http://www.alipay.com/">个人中心</a>
        </a-menu-item>
        <a-menu-item key="1">
          <a href="http://www.taobao.com/">配置</a>
        </a-menu-item>
        <a-menu-divider />
        <a-menu-item key="3">注销</a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>