<template>
    <a-row :gutter="[16,16]">
        <a-col :span="12">
            <a-card>
                 <div id='case-piechart' style="height:200px;"></div>
                <!-- <template #extra><a href="#">more</a></template> -->
            </a-card>
        </a-col>
        <a-col :span="12">
            <a-card>
                 <!-- <div id='case-piechart' style="height:200px;"></div> -->
                <!-- <template #extra><a href="#">more</a></template> -->
            </a-card>
        </a-col>
        <a-col :span="12">
            <a-card title="待处理">
                <div id="waitHandle" style="width: 600px;height:400px;"></div>
            </a-card>
        </a-col>
        <a-col :span="12">
            <a-card title="已处理">
                <div id="overHandle" style="width: 600px;height:400px;"></div>
            </a-card>
        </a-col>
    </a-row>

</template>

<script setup>
import { ref , reactive,onMounted} from 'vue';
import {showMonthChart,showPieChart} from '../api/chart';


const obj = reactive();

onMounted(() => {
    showPieChart('case-piechart',"当前总案件");
    showMonthChart('waitHandle');
    showMonthChart('overHandle');
})
</script>

<style>

</style>