<template>
  <a-page-header
    style="padding:0"
    :title="projectName"
    :sub-title="projectDesc"
  >
    <a-row :gutter="[16,16]">
        <a-col :span="12">
            <a-card>
                 <div id='caseAll-piechart' style="height:200px;"></div>
                <!-- <template #extra><a href="#">more</a></template> -->
            </a-card>
        </a-col>
        <a-col :span="12">
            <a-tabs type="card" default-active-key="1" @change='changeTrendChart'>
                <a-tab-pane key="1" tab="周" >
                    <div id='caseWeekTrendChart' style="height:200px;"></div>
                </a-tab-pane>
                <a-tab-pane key="2" tab="月" forceRender>
                    <div id='caseMonthTrendChart' style="height:200px;"></div>
                </a-tab-pane>
            </a-tabs>
        </a-col>
        <a-col :span="12">
            <a-card title="待处理">
                <div id="waitHandle" style="width: 600px;height:400px;"></div>
            </a-card>
        </a-col>
        <a-col :span="12">
            <a-card title="已处理">
                <div id="overHandle" style="width: 600px;height:400px;"></div>
            </a-card>
        </a-col>
    </a-row>
  </a-page-header>
</template>

<script setup>
import { ref , reactive,onMounted} from 'vue';
import {showMonthChart,showPieChart,showWeekTrendChart,showMonthTrendChart} from '../api/chart';

let projectName = ref("StudyCompass");
let projectDesc = ref("日本株式会社轻教育系统");
const obj = reactive();

const changeTrendChart = (activeKey)=>{
    console.log(activeKey);
}
onMounted(() => {
    showPieChart('caseAll-piechart',"当前总案件");
    showWeekTrendChart('caseWeekTrendChart','周趋势')
    showMonthTrendChart('caseMonthTrendChart','月趋势')
    showMonthChart('waitHandle');
    showMonthChart('overHandle');
})
</script>

<style>

</style>