<template>
    <a-row :gutter="[8,8]">
        <template v-for="user in userList" :key="user.id">
            <a-col :span="8">
                <a-card :title="user.name">
                    <template #extra><a-button type='text' @click="sendToWeChat(e,user)">发送到群</a-button></template>
                    <p>{{user.time}}:</p>
                    <p v-for="(t,index) in user.task" :key="index">{{t}}</p>
                </a-card>
            </a-col>
        </template>
    </a-row>

</template>

<script setup>
import {ref,reactive} from 'vue';
import moment from 'moment';

const userList = reactive([
    {id:'001',name:'lsl',time:moment().locale('zh-cn').format("YYYY-MM-DD E"),task:['backlog1232 MK0% UT0% IT0%','backlog122 MK0% UT0% IT0%']},
    {id:'002',name:'zhangqi',time:moment().locale('zh-cn').format("YYYY-MM-DD E"),task:['backlog1232 MK0% UT0% IT0%','backlog122 MK0% UT0% IT0%','backlog1232 MK0% UT0% IT0%','backlog122 MK0% UT0% IT0%']},
    {id:'003',name:'hujujie',time:moment().locale('zh-cn').format("YYYY-MM-DD E"),task:['backlog1232 MK0% UT0% IT0%','backlog122 MK0% UT0% IT0%']},
    {id:'004',name:'zhongluofeng',time:moment().locale('zh-cn').format("YYYY-MM-DD E"),task:['backlog1232 MK0% UT0% IT0%','backlog122 MK0% UT0% IT0%']},
    {id:'005',name:'chenglei',time:moment().locale('zh-cn').format("YYYY-MM-DD E"),task:['backlog1232 MK0% UT0% IT0%','backlog122 MK0% UT0% IT0%']}
]);

const sendToWeChat = (e,user)=>{
    console.log(user);
    
}
</script>

<style>

</style>