<template>
  <a-page-header
    class="page-header"
    style="border: 1px solid rgb(235, 237, 240)"
  >
    <template #extra>
      <a-button key="1" type="primary">检索</a-button>
      <a-button key="2">清除</a-button>
    </template>
    <template #subTitle>
      <a-tabs v-model:activeKey="activeKey" :animated="false">
        <a-tab-pane key="1" tab="简单检索">
          <a-descriptions size="small" :column="3">
            <a-descriptions-item label="事件状态" :span="2">
              <template
                v-for="{ text, value } in CONSTPOOL.EVENT_STATUS"
                :key="value"
              >
                <a-checkable-tag
                  :checked="tableData.selectedStatusTag.indexOf(value) > -1"
                  @change="(checked) => handleStatusChange(value, checked)"
                >
                  {{ text }}
                </a-checkable-tag>
              </template>
            </a-descriptions-item>
            <a-descriptions-item label="事件类型">
              <template
                v-for="{ text, value } in CONSTPOOL.EVENT_TYPE"
                :key="value"
              >
                <a-checkable-tag
                  :checked="tableData.selectedTags.indexOf(value) > -1"
                  @change="(checked) => handleChange(value, checked)"
                >
                  {{ text }}
                </a-checkable-tag>
              </template>
            </a-descriptions-item>
            <a-descriptions-item label="事件番号">
              <a-input-search
                v-model:value="eventId"
                placeholder=""
                style="width: 200px"
                @search="onSearch"
              />
            </a-descriptions-item>
            <a-descriptions-item label="担 当 者">
              <a-select
                v-model:value="attendant"
                :options="tableData.options"
                mode="tags"
                placeholder="Please select"
                style="width: 200px"
                @change="handleUserChange"
              >
              </a-select>
            </a-descriptions-item>
            <a-descriptions-item label="作业履历">
              <a-select
                v-model:value="attendant"
                :options="tableData.options"
                mode="tags"
                placeholder="Please select"
                style="width: 200px"
                @change="handleUserChange"
              >
              </a-select>
            </a-descriptions-item>
          </a-descriptions>
        </a-tab-pane>
        <a-tab-pane key="2" tab="复杂检索">
          <a-descriptions size="small" :column="2">
            <a-descriptions-item label="予定处理区间">
              <a-range-picker
                v-model:value="planStartAndEndtime"
                :ranges="ranges"
                @change="handleOk"
              />
            </a-descriptions-item>
            <a-descriptions-item label="实际处理区间">
              <a-range-picker
                v-model:value="startAndEndtime"
                :ranges="ranges"
                @change="handleOk"
              />
            </a-descriptions-item>
            <a-descriptions-item label="事件发生区间">
              <a-range-picker
                v-model:value="eventStarttime"
                :ranges="ranges"
                @change="handleOk"
              />
            </a-descriptions-item>
            <a-descriptions-item label="事件更新区间">
              <a-range-picker
                v-model:value="updatedtime"
                :ranges="ranges"
                @change="handleOk"
              />
            </a-descriptions-item>
          </a-descriptions>
        </a-tab-pane>
      </a-tabs>
    </template>
    <template #footer>
    </template>  
  </a-page-header>
      <a-row type="flex" justify="end" align="middle" :gutter="16">
        <a-col :order="2">
          <a-button type="primary" shape="round" size="small">
            <template #icon>
              <DownloadOutlined />
            </template>
            csv
          </a-button>
        </a-col>
        <a-col :order="1">
          <a-button type="primary" shape="round" size="small">
            追加作业
          </a-button>
        </a-col>
      </a-row>
  <a-table
   class="ant-table-striped"
    :columns="columnOptions"
    :row-key="record => record.id"
    :data-source="tableData.dataSource"
    :pagination="tableData.pagination"
    :loading="loading"
    @change="handleTableChange"
    :locale="local"
    bordered
    size="small"
    :scroll="{ x: '100vw' }"
    :rowClassName="(record, index) => (index % 2 === 1 ? 'table-striped' : null)"
  >
      <template #eventId="{ record }">
      <a :href="'https://lwis.backlog.com/find/'+record.eventId" target="_blank">{{record.eventId}}</a>
    </template>
    <template #eventStatus="{ record }">
      <template
        v-if="
          tableData.editableData &&
          Object.keys(tableData.editableData).length > 0 &&
          tableData.editableData.id == record.id
        "
      >
        <!-- <a-input v-model:value="tableData.editableData.eventStatus" @pressEnter="" /> -->
        <a-select
          v-model:value="tableData.editableData.eventStatus"
          :options="statusOptions"
          style="width: 100%"
          @change="handleStatusSelectedhange"
          @blur="handleLeaveSelect"
        >
        </a-select>
        <!-- <check-outlined  @click="save(record.id)" /> -->
      </template>
      <template v-else>
        <span style="cursor:pointer" @click="changeStatus(record.id)">
          <a-tag
            :color="
              handleEventColor(CONSTPOOL.EVENT_INFO.status, record.eventStatus)
            "
          >
            {{
              handleEventText(CONSTPOOL.EVENT_INFO.status, record.eventStatus)
            }}
          </a-tag>
        </span>
      </template>
    </template>
    <template #eventType="{ record }">
      <span>
        <a-tag
          :color="
            handleEventColor(CONSTPOOL.EVENT_INFO.category, record.eventType)
          "
        >
          {{ handleEventText(CONSTPOOL.EVENT_INFO.category, record.eventType) }}
        </a-tag>
      </span>
    </template>
    <template #eventPriority="{ record }">
      <span>
        <a-tag
          :color="
            handleEventColor(
              CONSTPOOL.EVENT_INFO.priority,
              record.eventPriority
            )
          "
        >
          {{
            handleEventText(CONSTPOOL.EVENT_INFO.priority, record.eventPriority)
          }}
        </a-tag>
      </span>
    </template>
    <template #worktime="{ record }">
      {{ humanizeTime(record.worktime) }}
    </template>
    <template #action="{ record }">
      <a-dropdown :trigger="['click']">
        <template #overlay>
          <a-menu @click="handleMenuClick($event , record)">
            <a-menu-item key="start" v-if="record.eventStatus == 0"
              >启动</a-menu-item
            >
            <a-menu-item key="make" v-if="record.eventStatus == 2"
              >制造</a-menu-item
            >
            <a-menu-item key="check" v-if="record.eventStatus == 4"
              >检查</a-menu-item
            >
            <a-menu-item key="release" v-if="record.eventStatus == 6"
              >发布</a-menu-item
            >
            <a-menu-item
              key="progress"
              v-if="
                record.eventStatus == 1 ||
                record.eventStatus == 3 ||
                record.eventStatus == 5
              "
              >进度</a-menu-item
            >
            <a-menu-item key="stop" v-if="canStopTask(record.eventStatus)"
              >停止</a-menu-item
            >
            <a-menu-item key="reopen" v-if="record.eventStatus == 7"
              >再开</a-menu-item
            >
          </a-menu>
        </template>
        <a-button size="small">处理</a-button>
      </a-dropdown>
    </template>
    <template #expandedRowRender="{ record }">
      <a-row>
        <a-col :span="3">
          设计：
          <a-input-number
            v-model:value="record.design"
            :min="0"
            :max="100"
            :step="5"
            :formatter="(value) => `${value}%`"
            :parser="(value) => value.replace('%', '')"
          />
        </a-col>
        <a-col :span="3">
          制造：
          <a-input-number
            v-model:value="record.make"
            :min="0"
            :max="100"
            :step="5"
            :formatter="(value) => `${value}%`"
            :parser="(value) => value.replace('%', '')"
          />
        </a-col>
        <a-col :span="3">
          单体书：
          <a-input-number
            v-model:value="record.uTest"
            :min="0"
            :max="100"
            :step="5"
            :formatter="(value) => `${value}%`"
            :parser="(value) => value.replace('%', '')"
          />
        </a-col>
        <a-col :span="3">
          单体测试：
          <a-input-number
            v-model:value="record.uTest"
            :min="0"
            :max="100"
            :step="5"
            :formatter="(value) => `${value}%`"
            :parser="(value) => value.replace('%', '')"
          />
        </a-col>
        <a-col :span="3">
          结合书：
          <a-input-number
            v-model:value="record.iTest"
            :min="0"
            :max="100"
            :step="5"
            :formatter="(value) => `${value}%`"
            :parser="(value) => value.replace('%', '')"
          />
        </a-col>
        <a-col :span="3">
          结合测试：
          <a-input-number
            v-model:value="record.iTest"
            :min="0"
            :max="100"
            :step="5"
            :formatter="(value) => `${value}%`"
            :parser="(value) => value.replace('%', '')"
          />
        </a-col>
      </a-row>
    </template>
  </a-table>
  <ProgressDialog :pvisible='pvisible' :percent='percent' @close='close'/>
</template>

<script setup>
import { reactive, ref, onMounted, createVNode } from "vue";
import { Modal } from "ant-design-vue";
import { getTaskList, TaskColumns, getUserList } from "../api/table";
import CONSTPOOL from "../common/constant";
import { handleEventInfo,humanizeTime } from "../common/utils";
import moment from "moment";
import {
  EditOutlined,
  DownloadOutlined,
  QuestionCircleOutlined,
} from "@ant-design/icons-vue";

import ProgressDialog from "@/components/dialog/ProgressDialog.vue"

const activeKey = ref("1");
const eventId = ref("");
const visible = ref(false);
const confirmLoading = ref(false);
const attendant = ref([]);
const planStartAndEndtime = ref([]);
const startAndEndtime = ref([]);
const eventStarttime = ref([]);
const updatedtime = ref([]);
const ranges = {
  今天: [moment(), moment()],
  本周: [moment().startOf("week"), moment().endOf("week")],
  本月: [moment().startOf("month"), moment().endOf("month")],
};

const canStopTask = (status) => {
  const isAllow = true;
  const canStopStatus = [1, 2, 3, 4, 5, 6];
  return isAllow && canStopStatus.indexOf(status) != -1;
};

let pvisible = ref(false);
let percent = ref(0);
const close = (value)=>{
  pvisible.value = value;
}
const handleMenuClick = (e,record) => {
  console.log("e:", e);
  console.log("status:", record.eventStatus);
  if (e.key == 'progress') {
    pvisible.value = true;
    percent.value = record.eventStatus * 10;

  } else if (e.key == 'reopen') {
    Modal.confirm({
      title: "你确定需要再开?",
      icon: () => createVNode(QuestionCircleOutlined),
      centered: true,
      okText: "确定",
      cancelText: "再考虑一下",
      content: "",
      mask: true,
      onOk() {
        return new Promise((resolve, reject) => {
          record.eventStatus = 1;
          let tempdata = tableData.dataSource.find((item) => record.id == item.id);
          Object.assign(tempdata,record);
          if(tempdata && tempdata.eventStatus==1){
            resolve()
          }else{
            reject()
          }
        }).catch((e) => console.log(e));
      },
      onCancel() {
        Modal.destroyAll();
      },
    });
  }else{
      record.eventStatus = record.eventStatus+1;
      let tempdata = tableData.dataSource.find((item) => record.id == item.id);
      Object.assign(tempdata,record);
  }
};

const acitonOptions = [
  { title: "操作", fixed: "right", slots: { customRender: "action" } },
];

const statusOptions = CONSTPOOL.EVENT_STATUS;

const columnOptions = [...TaskColumns, ...acitonOptions];

const changeStatus = (id) => {
  tableData.editableData = tableData.dataSource.find((item) => item.id == id);
};

const handleLeaveSelect = () => {
  delete tableData.editableData;
}
const handleStatusSelectedhange = (value, options) => {
  console.log("handleStatusChange:");
  console.log(value);
  console.log(options);
  const { id } = tableData.editableData;
  Object.assign(
    tableData.dataSource.find((item) => id == item.id),
    tableData.editableData
  );
  delete tableData.editableData;
};

const handleOk = (_, endtime) => {
  // console.log(startime)
  console.log(endtime);
};
const tableData = reactive({
  dataSource: [],
  pagination: {
    current: 1,
    pageSize: 5,
    total: 30,
    // showSizeChanger:true,
    // pageSizeOptions: ['10', '20', '30', '40', '50'],
    // position:'left'
  },
  selectedTags: [],
  selectedStatusTag: [],
  options: [],
  editableData: {},
});
const handleUserChange = (value, options) => {
  console.log(`selected ${value}`);
  console.log(options);
};
const onSearch = (searchValue) => {
  console.log("use value", searchValue);
  console.log("or use this.value", eventId.value);
};

const handleChange = (value, checked) => {
  const { selectedTags } = tableData;
  const nextSelectedTags = checked
    ? [...selectedTags, value]
    : selectedTags.filter((t) => t !== value);
  console.log("selectedTags: ", nextSelectedTags);
  tableData.selectedTags = nextSelectedTags;
};

const handleStatusChange = (value, checked) => {
  const { selectedStatusTag } = tableData;
  let nextSelectedTags = [];
  if (checked) {
    nextSelectedTags[0] = value;
  } else {
    nextSelectedTags = [];
  }
  console.log("statusChange: ", value);
  tableData.selectedStatusTag = nextSelectedTags;
};

const loading = ref(true);

onMounted(async () => {
  const { current, pageSize, total } = tableData.pagination;
  tableData.dataSource = await getTaskList({ current, pageSize, total });
  loading.value = false;
  const users = await getUserList();

  users.map((u) => {
    let option = {};
    option.value = u.name;
    option.title = u.id;
    tableData.options.push(option);
  });
});

const handleTableChange = async (
  pagination,
  filters,
  sorter,
  currentDataSource
) => {
  console.info(pagination);
  console.info(filters);
  console.info(sorter);
  console.info(currentDataSource);
  loading.value = true;
  tableData.dataSource = await getTaskList();
  loading.value = false;
};
const local = {
  filterConfirm: "确定",
  filterReset: "重置",
  emptyText: "暂无数据",
};

const handleEventColor = (type, value) => {
  const { color } = handleEventInfo(type, value);
  return color;
};
const handleEventText = (type, value) => {
  const { text } = handleEventInfo(type, value);
  return text;
};
</script>

<style lang="less" scoped>
.ant-table-striped {
  &:deep(.table-striped) td {
    background-color: #fafafa;
  }
}
</style>