<template>
    <a-row :gutter="[16,16]">
        <a-col :span="12">
            <a-card>
                 <!-- <div id='pie-chart' style="width: 100%;height:100%;"></div> -->
                 <div id='case-piechart' style="min-height:300px;"></div>
                <!-- <template #extra><a href="#">more</a></template> -->
                <!-- <hr> -->
                <!-- <div>合计：20</div> -->
            </a-card>
        </a-col>
        <a-col :span="12">
            <a-card>
            </a-card>
        </a-col>
                <a-col :span="12">
            <a-card>
            </a-card>
        </a-col>
                <a-col :span="12">
            <a-card>
            </a-card>
        </a-col>
    </a-row>

</template>

<script setup>
import { ref , reactive,onMounted} from 'vue';
import {showPieChart} from '../api/chart';


const obj = reactive();

onMounted(() => {
    showPieChart('case-piechart',"案件");
})
</script>

<style>

</style>