<template>
    <a-layout id='main-layout'>
    <a-layout-header class='header'>
        <div class="left" ></div>
        <div class="right">
            <Avatar/>
        </div>
    </a-layout-header>
    <a-layout class="content">
      <a-layout-sider theme="light" v-model:collapsed="collapsed" :trigger="null" collapsible >
          <div class="toggle-menu" :class="collapsed?'menufold':'unmenufold'"  @click="() => (collapsed = !collapsed)" >
              <menu-unfold-outlined v-if="collapsed" class="trigger"/>
              <menu-fold-outlined v-else class="trigger"/>
          </div>
          <a-menu theme="light" mode="inline" v-model:selectedKeys="selectedKeys">
              <template v-for="menu in state.menuList">
                <template v-if="menu.subMenus && menu.subMenus.length>0">
                      <a-sub-menu :key="menu.path">
                        <template #icon>
                          <video-camera-outlined />
                        </template>
                        <template #title>{{menu.name}}</template>
                        <template v-for="subMenu in menu.subMenus"  :key="subMenu.path">
                            <a-menu-item>
                                <upload-outlined />
                                <span><router-link :to="subMenu.path">{{subMenu.name}}</router-link></span>
                            </a-menu-item>
                        </template>
                      </a-sub-menu>
                </template>
                <template v-else>
                  <a-menu-item :key="menu.path">
                    <user-outlined />
                    <span><router-link :to="menu.path">{{menu.name}}</router-link></span>
                  </a-menu-item>
                </template>
              </template>
          </a-menu>
      </a-layout-sider>
      <a-layout-content :style="{ margin: '0px 16px', padding: '24px', background: '#fff', minHeight: '280px' }">
        <!-- <keep-alive :include="['组件名1','组件名2']"> -->
        <router-view></router-view>
        <!-- </keep-alive> -->
        
      </a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script setup>
    import Avatar from '@/components/Avatar.vue';
    import {
    UserOutlined,
    VideoCameraOutlined,
    UploadOutlined,
    MenuUnfoldOutlined,
    MenuFoldOutlined,
    } from '@ant-design/icons-vue';
    import { ref,reactive,onMounted,watch } from 'vue';
    import {useRoute} from 'vue-router'
    import {getMenuList} from '@/api/menu';
    const state = reactive({
      menuList:[],

    })
    const collapsed = ref(false);
    const selectedKeys = ref(['/task']);

    const route = useRoute();

    watch(()=>route.path,(path,oldpath) => {
        console.log("route:",path)
        console.log("oldroute:",oldpath)
        selectedKeys.value.splice(0,1,path)
    },{immediate: true})

    onMounted(async () => {
      console.log("---app挂载完成----");
      state.menuList = await getMenuList();
    })
</script>

<style lang="less" scoped>
#main-layout {
    height: 100vh;
    .header{
        position: fixed;
        width: 100%;
        height: 64px;
        z-index: 2;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, .23);
        .left{
            width: 120px;
        }
        .right{
            flex: auto;
            text-align: right;
        }
    }
    .content{
        height: 100%;
        margin-top: 64px;
        .toggle-menu{
            height: 48px;
            width: 100%;
            box-sizing: border-box;
            cursor: pointer;
            &.menufold{
              text-align: center;
            }
            &.unmenufold{
              text-align: right;
            }   
            &:hover {
                background-color: #f9f9f9;
            }         
        }
        .trigger {
            font-size: 18px;
            line-height: 48px;
            padding: 0 12px;
            transition: color 0.3s;
        }

    }
}
</style>